<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login - Ceres WMS</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'dashboard/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'dashboard/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    {% if messages %}
{% for m in messages %}
<script type="text/javascript">
        $(document).ready(function() {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "3000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.{{m.tags}}('{{m}}');
  });
</script>
{% endfor %}
{% endif %}
</head>

<body class="bg-gradient-primary" style="color:white;" >
<div class="container" style="max-width:500px; color:white;">
    <!-- Outer Row -->
    <div class="card  my-5">
        <!-- Nested Row within Card Body -->
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Welcome to Ceres-WMS!</h1>
            </div>
            <!--  {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      {{ message }}
                  </div>
                  {% endfor %}
              </ul>
              {% endif %} -->

            <form method="POST" action="{% url 'loginPage' %}">
                <div class="form-group">
                    {% csrf_token %}
                    <input name="username" aria-describedby="usernameHelp"
                           class="form-control form-control-user"
                           id="exampleInputEmail" placeholder="Username"
                           type="username">
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control form-control-user"
                           id="exampleInputPassword" placeholder="Password">
                </div>
                <input class="btn btn-primary btn-user btn-block" type="submit" value="Login">
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'dashboard/js/sb-admin-2.min.js' %}"></script>
</body>

</html>