{% extends 'partials/base.html' %}
<!-- Title -->
{% block title %} {{ title }} {% endblock %}
{% load crispy_forms_tags %}
<!-- Button to add user -->
{% block pageheading %} {{ heading }} {% endblock %}

<!-- Button to add user -->
{% block createbutton %}{% endblock %}

<!-- Main content -->
{%block content %}
{% if user.is_authenticated and user.is_staff %}
<div class="row">
    <!-- Update Office -->
    <div class="col-md-5">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <span>
                        <a href="{% url 'offices' %}" class="btn btn-secondary"><span class="text">Cancel</span></a>
                        <input class="btn btn-primary float-right" type="submit" value="Update Office">
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}