{% extends 'partials/base.html' %}
<!-- Title -->
{% block title %} {{ title }} {% endblock %}

<!-- Button to add user -->
{% block pageheading %} {{ heading }} {% endblock %}

<!-- Button to add user -->
{% block createbutton %}{% endblock %}

<!-- Main content -->
{%block content %}
{% if user.is_authenticated and user.is_staff %}
<div class="row">
    <div class="col-lg-3">
        <div class="card shadow mb-4">
            <div class = "card-header">
                Update Packaging Type
            </div>
            <div class = "card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <a href="{% url 'view-packaging' %}" class="btn btn-secondary">
                                        <span class="text">Cancel</span>
                                    </a>
                    <input type="submit" value="Update" class="btn btn-primary btn-info">
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}